*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: white;
}

form{
    border: solid rgb(231, 161, 111);
    padding: 40px 40px;
    padding-top: 35px;
    border-radius: 40px 8px 40px 8px;
}

.main{
    display: flex;
    justify-content: center;
    height:735px;
    align-items: center;
}

input{
    padding: 10px 0px;
    padding-left: 10px;
    margin: 15px 0px;
    width: 220px;
}

.input{
    border-radius: 10px 3px 10px 3px;
    background: none;
    border-color: white;
    color: white;
}

.profil{
    height: 90px;
    width: 90px;
    border-radius: 50%;
    position: relative;
    top: -175px;
    left: 12.5%;
}

h2{
    text-decoration: underline;
    font-family: sans-serif;
    padding-bottom: 15px;
    padding-top: 10px;
    padding-left: 50px;
}

.button{
    font-size: large;
    padding: 5px 0px;
    border: solid rgb(231, 161, 111);
    background: none;
}

img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}

body{
    background-image: linear-gradient(to bottom, #000,rgba(0,0,0,.45)) , url("istockphoto-2184308312-1024x1024.jpg");
    background-size: cover;
}