@font-face {
   font-family: 'Roboto';
   src: url('./fonts/Roboto-Regular.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: 'Roboto';
   src: url('./fonts/Roboto-Bold.ttf') format('truetype');
   font-weight: bold;
   font-style: normal;
}

*{
   font-family: 'Roboto';
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body{
   background-color: hsl(235, 18%, 26%);
}

main{
   height: 100vh;
   width: 100vw;
   display: flex;
   justify-content: center;
   align-items: center;
}

.container{
   display: flex;
   justify-content: center;
   padding: 50px;
   height: auto;
   width: 430px;
   background-color: #fff;
   border-radius: 25px;
}

.content{
   width: 350px;
}

h1{
   margin: 20px 0px;
   font-size: 40px
}

button{
   margin-top: 30px;
   padding: 13px 20px;
   width: 100%;
   font-weight: 550;
   border-radius: 8px;
   border: none;
   background-color: hsl(234, 29%, 20%);
   color: #fff;
}

button:hover{
   background: #ff644d;
   cursor: pointer
}