*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: small;
    border-radius: 5px;
}

body{
    background-color: rgb(65, 118, 214);

}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 735px;
}

a{
    text-decoration: none;
    color: rgb(65, 118, 214);
    font-family: sans-serif;
}

form{
    background-color: #fff;
    border: none;
    padding: 20px 25px;
}

input{
    width: 280px;
    height: 38px;
    margin: 8px 0px;
    border: 1px solid rgb(152, 149, 149);
}

.input input{
    padding-left: 10px;
}

.password-lien{
    margin-left: 25%
}

span{
    display: block;
    width: 120px;
    height: 0.5px;
    border:none;
    background-color: black;
    background-color: rgb(152, 149, 149);
}

.Or{
    padding: 8px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(152, 149, 149);
}

p{
    margin-top: 4px;
    margin-bottom: 10px;
    margin-left: 35px
}

.login{
    margin-top: 15px;
    background-color: rgb(65, 118, 214);
    border: none;
    color: white;
    font-size: 15px;
}

.facebook{
    background-color: rgb(95, 119, 190);
    border: none;
    color:white;
    font-size: 15px
}

.google{
    font-size: 15px;
    color:rgb(152, 149, 149);
    background-color: #fff;

}

.title{
    font-size: x-large;
    font-weight: bold;
    margin-left: 35%;
}
