$footer_color: hsl(243, 87%, 12%);

$footer_top: hsl(238, 22%, 44%);

$btn-color: hsl(224, 93%, 58%);

$body-bg:  hsl(240, 75%, 98%);

$body_bg_2 : hsl(0, 0%, 75%);

$link_color: hsl(170, 45%, 43%);

$p_size: 19px;

$font-weight_1: 700;

$font-weight_2: 400;

$p_color: #4a4545;